README.txt
*-example.js
test-override.txt
wav/_*.wav
wav/alarm.wav
wav/mute.wav
wav/onepoint*.wav
wav/Sasara*.wav
wav/system*.wav
# temporary, until I find storage solution
wav/
cactbot-user.code-workspace